<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Routes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading" class="ion-padding ion-text-center">
    <ion-spinner></ion-spinner>
    <p>Loading routes...</p>
  </div>

  <div *ngIf="!isLoading">
    <ion-card *ngFor="let route of routes" (click)="goToStops(route.routeId)" [style.border-left]="'6px solid #' + route.routeColor">
      <ion-card-header>
        <ion-card-subtitle>Route {{route.routeShortName}}</ion-card-subtitle>
        <ion-card-title>{{route.routeLongName}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p *ngIf="route.routeDescription">{{route.routeDescription}}</p>
        <p *ngIf="!route.routeDescription" class="ion-text-muted">No description available</p>
      </ion-card-content>
    </ion-card>

    <ion-item *ngIf="routes.length === 0" class="ion-text-center">
      <ion-label>
        No routes available.
      </ion-label>
    </ion-item>
  </div>

</ion-content>

